extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Colin Palombo

        p.lead.text-light
          | Full Stack Developer

        .portfolio-bio
          p
            | I am a highly ambitious, motivated, and passionate programmer. From the moment I learned how to produce the
            | common “Hello World” I knew programming was my calling. I am an eager learner because of my passion for
            | coding. I also can work well with minimal supervision as well as in a team atmosphere. I am a great analytical
            | thinker and troubleshooter.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        
        ul
          li Java
          li JavaScript
          li Node.js
          li Express
          li NPM
          li jQuery
          li HTML
          li CSS
          li APIs
          li Command Line
          li Maven
          li Git
          li MySQL
          li MongoDB
          li Linux
          li Internet Business
          li Customer Service
          
        h6 Contact Info

        ul
          li (337) 517-7393
          li colin.palombo@yahoo.com

        a.button.expanded(href='https://github.com/PalomboDev?tab=repositories', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  